img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    margin-top: -1070px;
    margin-top: 5%;
}
